// * {
//     outline: 1px solid red;
// }

.bg-image {
    --background: url(https://images.pexels.com/photos/1570806/pexels-photo-1570806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) 0 0/100% 100% no-repeat;
}

.main-content {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ion-row {
    width: 100%;
}

h1.light, h3 {
    color: white;
}

h1.dark {
    color: black;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.8rem;
}
.bg-light {
    background: white;
}